
.fadein { 
	top: 545px;
	left: 195px;
	position: absolute; 
	width: 320px; 
	height: 120px; 
    background-color:rgba(0,0,0,0.9);
	border-color: #000000;
	border-width: 2px;
    -webkit-border-radius: 5px;
}


.fadein img { 
	position:absolute; 
	top:10px; 
	left:10px; 	
	max-width: 300px; 
	max-height: 100px;
	

	
}