#logoImage  {
	position: absolute;
	left:500px; 
	top: 0px;
	height:100px;
	
}
#left {
	position: absolute;
	left:150px;
	top: 5px;
	
}

#right {
	position: absolute;
	right:150px;	
	top: 5px;
	text-align: right;
	

}

.line1 {

}

.line2 {

}






