#logoImage  {
	position: relative;
	left:400px; 
	height:100px;
	top: -10px;
	float: left;
}
#left {
	position: relative;
	left:-200px;
	top: 0px;
	float: left;
}

#right {
	position: relative;
	left:520px;	
	top: 0px;
	float: left;
	text-align: right;
	

}

.line1 {

}

.line2 {

}






