#vasen img{
	position: absolute;
	left: 20px;
	top: 50 px;
	width: 150px;
	transform: rotate(-90deg);
}

#oikea  img{
	position: absolute;
	right: 20px;
	top: 50 px;
	width: 150px;

	transform: rotate(-90deg);
}