body {
	background-image: url("images/hs-ingame.png");
	background-size: 1280px 720px;
    background-repeat: no-repeat;
}

#vasen img{
	position: absolute;
	left: 0px;
	bottom: 432px;
	width: 179px;
	border: 0px;

}

#oikea  img{
	position: absolute;
	right: 0px;
	bottom: 432px;
	width: 179px;
	border: 0px;

}

.active  {
	

}

#f0 {
	position: absolute;
	left: 20px;
	top: 310px;
}

#f1 {
	position: absolute;
	right: 20px;
	top: 310px;
}

#f2  {
	position: absolute;
	left: 160px;
	top: 310px;
}
#f3  {
	position: absolute;
	right: 160px;
	top: 310px;
}


#f4  {
	position: absolute;
	left: 20px;
	top: 350px;
	font-size: 25px;
}

#leftActive {
	position: absolute;
	left: 180px;
	top: 0px;
	width: 10px;
	height: 720px;
	background-color: #dc8021;
}

#rightActive {
	position: absolute;
	right: 180px;
	top: 0px;
	width: 10px;
	height: 720px;
	background-color: #dc8021;
	
}

.notActive {
	opacity: 0;
}
.barActive {
	opacity: 1;
}
