#box {
	Color: #000;
	width: 480px;
    height: 620px;
    position: absolute;
    background-color: #dc8021;
	Opacity:0.9;
	-webkit-border-radius: 30px;
    top:50px;
    left: 10px;
	padding: 30px;
}

h1 {
    color: #ffffff;
}

table {
     color: #ffffff;
}

td {
	padding: 10px;
	background-color: #dc8021;
	Opacity: 0,6;
	-webkit-border-radius: 5px;
}


.animationMoveIn {
    -webkit-animation-name: moveIn;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes moveIn {
    0%   {left:-1080px; }
    100% {left:50px; }
}


.animationMoveOut {
    -webkit-animation-name: moveOut;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes moveOut {
    0%   {left:100px; }
    100% {left:1280px; }
}